In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

### EXERCISE 1.

What is the normal body temperature for healthy humans? A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees. 

Give a 99% confidence interval for the average body temperature of healthy people.

In [14]:
# Short Method with t-distribution

n = 130
xbar = 98.25
s = 0.73
sem = s / np.sqrt(n)


stats.t.interval(confidence=0.99, df=n-1, loc=xbar, scale=sem)

(98.08260738705933, 98.41739261294067)

In [15]:
# Long Method with z-distribution
n = 130
xbar = 98.25
s = 0.73
sem = s / np.sqrt(n)

moe = 2.576 * sem  # (z-value for 99% is 2.576)
moe

lower_limit = xbar - moe
print(f"Lower Limit: {lower_limit}")

upper_limit = xbar + moe
print(f"Upper Limit: {upper_limit}")

Lower Limit: 98.08507099358535
Upper Limit: 98.41492900641465

## EXERCISE 2.
The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.

Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

In [16]:
# Short Method with t-distribution

n = 500
xbar = 5.4
s = 3.1
sem = s / np.sqrt(n)

stats.t.interval(confidence=0.95, df=n-1, loc=xbar, scale=sem)

(5.127617354510309, 5.672382645489692)

In [17]:
# Long Method with z-distribution

n = 500
xbar = 5.4
s = 3.1
sem = s / np.sqrt(n)

moe = 1.96 * sem  # (z-value for 95% is 1.96)
moe

lower_limit = xbar - moe
print(f"Lower Limit: {lower_limit}")

upper_limit = xbar + moe
print(f"Upper Limit: {upper_limit}")

Lower Limit: 5.128273019374226
Upper Limit: 5.671726980625775

# HYPOTHESIS TESTING

### EXERCISE 3.

The hourly wages in a particular industry are normally distributed with mean 13.20 USD and standard deviation  2.50 USD. A company in this industry employs 40 workers, paying them an average of 12.20 USD per hour. Can this company be accused of paying substandard wages?

Use an Î± = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [18]:
# H0: The company pays standard wages (>= 13.20 USD)
# H1: The company pays substandard wages (< 13.20 USD)

In [19]:
mu = 13.20
sigma = 2.50

xbar = 12.20
n = 40

alpha = 0.01

In [20]:
# with z-distribution

z = (xbar - mu) / (sigma/np.sqrt(n))
p_value = stats.norm.cdf(z)

print(f'z_values is: {z}')
print(f'p_values is: {p_value}')

if p_value < alpha:
    print('At {} level of significance, the company pays substandard wages.'.format(alpha))
else:
    print('At {} level of significance, the company pays standard wages.'.format(alpha))

z_values is: -2.5298221281347035
p_values is: 0.005706018193000826
At 0.01 level of significance, the company pays substandard wages.

In [21]:
# with t-distribution (Although population std is given and we are expe to use z-distribution)

t = (xbar - mu) / (sigma / np.sqrt(n))
p_value = stats.t.cdf(t, df=n-1)

print(f't_values is: {t}')
print(f'p_value is: {p_value}')

if p_value < alpha:
    print('At {} level of significance, the company pays substandard wages.'.format(alpha))
else:
    print('At {} level of significance, the company pays standard wages.'.format(alpha))

t_values is: -2.5298221281347035
p_value is: 0.0077816812266594355
At 0.01 level of significance, the company pays substandard wages.

### EXERCISE 4.

Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils (soil.csv)

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [2]:
soil = pd.read_csv("soil.csv")

In [3]:
soil.sample(5)

    Soil1  Soil2
34    NaN  1.355
5   1.641  1.428
21  1.613  1.367
26  1.737  1.489
22  2.054  1.144

In [84]:
soil.isnull().sum()

Soil1    5
Soil2    0
dtype: int64

In [24]:
# H0: The soils do NOT  differ with respect to average shear strength (mu_Soil1 = mu_Soil2)
# H1: The soils differ with respect to average shear strength (mu_Soil1 != mu_Soil2)

In [4]:
leveneTest = stats.levene(soil.Soil1.dropna(), soil.Soil2)
leveneTest

LeveneResult(statistic=0.31486292982090475, pvalue=0.5767018253541134)

In [7]:
indTest = stats.ttest_ind(soil.Soil1.dropna(), soil.Soil2, equal_var = True)
indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [12]:
alpha = 0.01
p_value = indTest.pvalue

if p_value < alpha:
    print('At {} level of significance, the soils differ with respect to average shear strength. (Reject H0)'.format(alpha))
else:
    print('At {} level of significance, the soils do NOT differ with respect to average shear strength. (Fail to reject H0)'.format(alpha))

At 0.01 level of significance, the soils differ with respect to average shear strength. (Reject H0)

### EXERCISE 5.

The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  

2015 PISA Test Dataset (pisa_2015.csv)

Get descriptive statistics (the central tendency, dispersion and shape of a datasetâs distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [3]:
pisa = pd.read_csv("pisa_2015.csv")

In [4]:
pisa.sample(5)

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
52,NZL,OC,88.222889,495.2233,509.2707,513.3035
5,BEL,EU,85.052900,506.9844,498.5242,501.9997
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [5]:
pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country Code            70 non-null     object
 1   Continent_Code          65 non-null     object
 2   internet_users_per_100  70 non-null     float64
 3   Math                    70 non-null     float64
 4   Reading                 70 non-null     float64
 5   Science                 70 non-null     float64
dtypes: float64(4), object(2)
memory usage: 3.4+ KB

In [37]:
#H0: mu = 10
#H1: mu > 10

Write the given variables

In [38]:
mu = 10

xbar = 10.5
n = 40

sigma = 1.5

alpha = 0.05

In [39]:
1.5/np.sqrt(n)

0.23717082451262844

In [40]:
2.1081851067789197 * 0.23717082451262844

0.5

In [41]:
10.5 - z*0.23717082451262844

8.872021934882772

Calculate the test statistic

In [42]:
z = (xbar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

Calculate the p-value

In [43]:
stats.norm.cdf(z)  ## z'ye kadar olan alani verir. Sag tarafi bulmak icin 1'den cikrmamiz gerekiyor

0.9824925094901688

In [44]:
p_value = 1 - stats.norm.cdf(z)
p_value

0.017507490509831247

Conclusion

In [45]:
if p_value < alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

## Example-2
- A department store manager determines that a new billing system will be cost-effective only if the mean monthly account is more than 170 dollars.

- A random sample of 400 monthly accounts is drawn, for which the sample mean is 178 dollars.

- The accounts are approximately normally distributed with a standard deviation of 65 dollars.

- Can we conclude that the new system will be cost-effective?

In [46]:
#H0: mu = 170
#H1: mu > 170

In [47]:
mu = 170

x_bar = 178
n = 400

sigma = 65

alpha = 0.05

In [48]:
z = (x_bar - mu) / (sigma/np.sqrt(n))
z

2.4615384615384617

In [49]:
#Standard Error
sigma/np.sqrt(n)

3.25

In [50]:
p_value = 1 - stats.norm.cdf(z)
p_value

0.006917128192854505

In [51]:
1 - stats.norm.cdf(178, 170, 3.25)

0.006917128192854505

In [52]:
if p_value < alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

# One Sample t Test

## Example-1
- Bon Air ELEM has 1000 students. The principal of the school thinks that the average IQ of students at Bon Air is at least 110. To prove her point, she administers an IQ test to 20 randomly selected students.
- Among the sampled students, the average IQ is 108 with a standard deviation of 10.
- Based on these results, should the principal accept or reject her original hypothesis? Î± = 0.01

In [53]:
#H0: mu = 110
#H1: mu < 110

In [54]:
mu = 110

xbar = 108
n = 20
s = 10

alpha = 0.01

In [55]:
t = (xbar - mu) / (s / np.sqrt(n))
t

-0.8944271909999159

In [56]:
p_value = stats.t.cdf(t, df=n-1)
p_value

0.1911420676837155

In [57]:
if p_value < alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.01 level of significance, we fail to reject the null hypothesis.

In [58]:
#How to calculate t-value if we know the p-value

stats.t.ppf(p_value, df=n-1)

-0.8944271909999159

In [59]:
#How to calculate critical value
stats.t.ppf(alpha, df=n-1)

-2.5394831906222888

In [60]:
stats.t.ppf(0.05, df=n-1)

-1.7291328115213678